* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-display: swap;
	font-family: 'AlibabaPuhui', PingFang SC, HarmonyOS_Regular, Helvetica Neue,
		Microsoft YaHei, sans-serif;
}
#app,
html,
body {
	height: 100%;
	overflow: hidden;
}
