.header {
	height: 80px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 32px;
	color: #2f3542;
	white-space: normal;
}

@media screen and (max-width: 768px) {
	.header {
		background-color: white;
		top: 0;
		position: sticky;
	}
}
