.slide_content {
	white-space: nowrap;
	display: flex;

	align-items: center;
}

.slide_card {
	width: 260px;
	opacity: 0.6;
	margin: 0 40px;
	border-radius: 8px;
	cursor: pointer;
	display: inline-block;
	font-size: 0;

	animation: nocheck 0.5s forwards;
}
.slide_card.check {
	opacity: 1;
	font-size: 16px;
	animation: check 0.5s forwards;
}

.slide_card > .card_img {
	width: 100%;
	border-radius: 8px;
	vertical-align: middle;
	box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.05);
}

.card_content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 20px auto 0 auto;
	transition: all 0.5s ease-in-out;
	max-width: min-content;
	animation: contentShow 1.5s forwards;
}
.card_content .main {
	border-radius: 6px;
	padding: 2px;
	display: flex;
	justify-content: center;
	font-weight: bold;
	align-items: center;
}
.card_content .main .title {
	margin-right: 10px;
}
.card_content .main .time {
	margin-top: auto;
	opacity: 0.45;
	font-size: 10px;
}
.card_content .other {
	width: 100%;
	padding: 0 20px;
}
.card_content .other .detail {
	overflow: hidden;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	opacity: 0.45;
}
.list-move {
	transition: all 0.6s ease;
}

@keyframes check {
	from {
		width: 260px;
	}
	to {
		width: 300px;
	}
}

@keyframes nocheck {
	from {
		width: 300px;
	}
	to {
		width: 260px;
	}
}

@keyframes contentShow {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
