.slide_content {
	white-space: nowrap;
}

.slide_card {
	width: 260px;
	opacity: 0.6;
	margin: 0 20px;
	border-radius: 8px;
	cursor: pointer;
	display: inline-block;
	font-size: 0;
	transition: all 0.5s ease-in-out;
}
.slide_card.check {
	width: 300px;
	opacity: 1;
	font-size: 16px;
}

.slide_card > .card_img {
	width: 100%;
	border-radius: 8px;
	vertical-align: middle;
}

.card_content {
	height: 40px;
	width: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 10px auto 0 auto;
}

.card_content .time {
	opacity: 0.45;
}

/* 对移动中的元素应用的过渡 */
.list-move {
	transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

@keyframes trans {
	0% {
		transform: translateY(-50px);
	}
	100% {
		transform: translateY(0);
	}
}
